<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-with, initial-scale=1.0">
        <title>Document</title>
        <style>
            body{background: Skyblue; font-family: verdana; color: #fff;padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase;letter-spacing: 2px;text-align: center;}
            p{font-size: 16px; text-align: center;}
        </style>

    </head>
    <body>
        <h1>Welcome to the home page baby</h1>
        <p>This is the website for project networking of group DHI2V.sp - Team B</p>
    </body>
</html>